*{
    font-family: "poppins" ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.heading{
    color: rgb(250, 248, 248);
   /* border: 2px solid black;*/
   /* background-color: blue;*/
    font-size: 35px;
   margin-right:80px;
   letter-spacing: 8px;
   position: relative;
   top: 50px;

   
    
}

.head1{
    position: relative;
    right: 75px;
    bottom: 70px;
}
.head2{
    position: relative;
    bottom: 70px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    
}
video{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}
.container{
    position: relative;
    width: 400px;
    height: 555px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(7px);
    border-radius: 16px;
   /* border: 1px solid rgb(8, 7, 7);*/
    padding: 20px;
    color: #000000;

}

.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    
    display: flex;
    align-items: center;
}
.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent;
    border: 2px solid rgba(255, 255, 255,0.2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    padding: 0 40px 0 42px;

}


.search-box input::placeholder{
    color: #000000;
    /*text-transform: capitalize;*/

}

.search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    background: transparent;
    height: 100%;
    border: none;
    outline: none;
    font-size: 28px;
   color: rgb(0, 0, 0);
    padding: 0 40px 0 5px;
    cursor: pointer;


}

.search-box i{
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: black;

}

.weather-box img{
    width: 60%;
}

.weather-box{
    text-align: center;
    margin: 40px 0;
}

.weather-box .temp{
    position: relative;
    font-size: 64px;
    margin: 20px 0 6px -30px;
    line-height: 1;
    font-weight: 700;
}

.weather-box .temp span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;

}

.weather-box .description{
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
}


.weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;

}
.weather-details .humid , .weather-details .wind{
    display: flex;
    align-items: center
    ;
    width: 50%;
}

.weather-details .humid {
    padding-left: 20px;
    justify-content: flex-start;



}



.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
} 
.weather-details i{
    font-size: 56px;
    margin-right: 10px;

}

.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}
.heading2{
    display: none;
}

.weather-details p{
    font-size: 14px;
    font-weight: 500;
}

@media(max-width:1094px){
    .heading{
        display: none;
    }
    

}